.caja {
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 15px;
}

.seleccion {
  border-radius: 50px;
  background: white;
  text-align: center;
  font-size: 25px;
  border: 4px solid black;
  padding: 15px 20px;
  margin: 0 10px; /* Espaciado entre botones */
  transition: background-color 0.3s;
}

.seleccion:hover {
  background: #2e5f82;
  color: white;
}

.seleccion .active {
  background: #2e5f82;
  color: white;
}

/* Tabla */
.table thead th {
  background-color: #2e5f82;
}

th { /* Celda */
    font-size: 30px;
}

td { /* Celda */
  font-size: 20px;
}

.primeros td{
    background: #2fa67d;
}
  
.segundos td{
    background: #e0b645;
  }
  

.ultimos td{
    background: #c15353;
}

/* Punto de ruptura para pantallas pequeñas */
@media (max-width: 768px) {
  
  /* Reducir el tamaño de fuente para que se vea más adecuado en pantallas pequeñas */
  .table th, .table td {
      font-size: 14px;
      padding: 5px;
  }
}





