
.direccion {
    padding-top: 100px;
    margin-left: 550px;
    font-size: 35px;
}


/*.infoContacto{
    border: 10px solid #2e5f82; 
    border-radius: 50px;
    width: 30%;
    margin-left: 100px;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}


.infoContacto h4 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}*/

.infoContacto{
    background-color:  #2e5f82; 
    color: white;
    border-radius: 50px;
    width: 30%;
    margin-left: 150px;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.infoContacto:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.3);
}


.infoContacto h4 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.infoContacto p {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



/*.mapa img {
    max-width: 70%; 
    float: right;
    margin-right: 100px;
    border: 5px solid white;
    outline: 10px solid #2e5f82;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}

.mapa img:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.3);
    
} */

#mapa {
    background: white !important; /* o transparent si lo prefieres */
  }
  

.contenedor0 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    padding: 40px;
    flex-wrap: wrap; /* Para que en pantallas pequeñas se adapten */
}


.redes-sociales {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(2, auto); /* 2 filas */
    gap: 20px; /* Espacio entre iconos */
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 40px auto; /* Centrar en la página */
}

.redes-sociales img {
    margin-top: 50px;
    width: 120px; /* Tamaño de los iconos */
    height: 120px;
    transition: transform 0.3s ease-in-out;
}

.redes-sociales img:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el mouse */
}

.mail img {
    width: 200px;
}

