h2 {
    font-size: 1.6vw;
    padding-top: 70px;
    padding-bottom: 0px;
}

.CuerpoTecnico{
    margin-left: 100px;
    margin-bottom: 50px;
    column-count: 3;
    column-gap: 0px;
}

.CuerpoTecnico #Vacia{
    visibility: hidden;
}

.CuerpoTecnico figure {
    width: 80%;
    text-align: center;       
    align-items: center;      
}

.CuerpoTecnico figure img {
    width: 100%;
    margin-top: 30px;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
}

.CuerpoTecnico figure #Medico{
    aspect-ratio: 100 / 68;
}

.CuerpoTecnico figure:hover img,
.CuerpoTecnico figure:hover figcaption {
    transform: scale(1.1);
}

figure figcaption {
    background: #2e5f82;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
    border-radius: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    top: -35px;
    transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 1000px){
    h2 {
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .CuerpoTecnico{
        column-count: 1;
    }

    .CuerpoTecnico figure {
        width: 80%;    
    }

    .CuerpoTecnico #Vacia{
        display: none;
    }

    figure figcaption {
        font-size: 25px;
    }

}