h2 {
    padding-top: 100px;
    padding-bottom: 0px;
}

#SeccionSuperior {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;  
    margin: 0 auto;           /* Centra el contenedor */
    gap: 100px;               /* Espacio entre figuras */
    margin-left: 225px;
}

#SeccionSuperior figure {
    width: 425px;
    text-align: center;       
    display: flex;
    flex-direction: column;
    align-items: center;      
}

#SeccionSuperior figure img {
    width: 100%;
    margin-top: 30px;
    border-radius: 50px;
}

#SeccionInferior {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 0 auto;           
    gap: 100px;             
}

#SeccionInferior figure {
    width: 425px;
    text-align: center;       
    display: flex;
    flex-direction: column;
    align-items: center;      
}


#SeccionInferior figure img {
    width: 100%;
    margin-top: 30px;
    border-radius: 50px;
    margin-bottom: 20px; 
}


figure figcaption {
    background: #2e5f82;
    font-weight: bold;
    font-size: 30px;
    color: white;
    border-radius: 50px;
    width: 100%;  
    text-align: center;
    position: relative;
    top: -35px;
}
