@import "boton.css";

.contenedor {
    max-width: 600px;
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px; 
    background-color: #f9f9f9; /* Fondo */
    border-radius: 50px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 100px;;
}

label {
    display: block; 
    margin-bottom: 10px;
    font-weight: bold; 
    color: black;
}

/* Estilos para los inputs de texto */
input[type="text"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 50px; 
    font-size: 16px; 
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
}

/* Cambiar color del borde al pulsar */
input[type="text"]:focus {
    border-color: #2e5f82;
    outline: none; /* Quitar el contorno predeterminado */
}

/* Estilos para el checkbox */
input[type="checkbox"] {
    margin-right: 10px; 
}

.texto {
    display: inline-block; 
    margin-bottom: 20px; 
    font-weight: normal; 
    color: #555; 
    
}

.texto input {
    margin-right: 10px; /* Espacio a la derecha del checkbox */
}


.asterisco {
    color: red; /* Color rojo para el asterisco */
    font-weight: bold; /* Negrita para mayor visibilidad */
    margin-left: 5px; /* Espacio a la izquierda del asterisco */
}

textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 20px; 
    font-size: 16px; 
    box-sizing: border-box; 
}
