h1 {
    text-align: center;
    font-size: 55px;
}

/* PARTE SUPERIOR: ESCUDO DEL EQUIPO E HISTORIA */

.descripcion{
    background: #2e5f82;
    width: 65%;
    font-size: 30px;
    border-radius: 50px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    float: right;
    margin-top: 50px;
    margin-right: 150px;
}

.escudo{
    width: 350px;
    float: left;
}

.escudo img{
    width: 100%;
    margin-left: 100px;
    padding-bottom: 50px;
}

/*******************************************************************/
/* TITULOS DE LOS CONTENEDORES*/



/*******************************************************************/
/* PARTE INFERIOR: INFORMACIÓN DEL CLUB Y PALMARÉS */


.contenido{
    width: 100%;
    overflow: hidden;
    margin-bottom: 120px;
}

.bloque1, .bloque2 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 30px;
}

.bloque1{
    float: left;
}

.bloque2{
    float: right;
}

.tituloPalmares {
    float: right;
    font-weight: bold;
    font-size: 55px;
    margin-right: 515px; 
}

.tituloDatos {
    float: left;
    font-weight: bold;
    font-size: 55px;
    margin-left: 70px;
}


.datos {
    width: 650px;
    height: 1060px;
    border: 4px solid black;
    padding-bottom: 120px;
    margin-top: -10px;
    margin-left: 150px;
    float: left;
}

.datos p{
    font-size: 40px;
    margin-top: 35px;
}

.datos p a{
    color: black;
}

.palmares{
    width: 650px;
    height: 1060px;
    overflow: hidden;
    border: 4px solid black;
    margin-top: -10px;
    margin-right: 150px;
    float: right
}


.historialTitulos {
    float: right;
    text-align: center;
}

.item1 {
    position: relative;
    top: 25px;
}

.item2 {
    position: relative;
    top: 245px;
}

.item3 {
    position: relative;
    top: 380px;
    padding-right: 20px;
}

.competicion{
    font-size: 40px;
}

.total{
    font-size: 50px;
}

.fotos img{
    width: 40%;
    height: 40%;
}

.foto1 img{
    width: 30%;
    height: 20%;
    margin-left: 40px;
    padding-top: 20px;
}


@media only screen and (min-width: 1550px) and (max-width: 1750px) {
    h1 {
        font-size: 40px;
    }

    .descripcion {
        width: 65%;
        font-size: 20px;
        border-radius: 40px;
        color: white;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;

        float: right;
        margin-top: 50px;
        margin-right: 100px;
    }

    .escudo {
        width: 280px;
    }

    .escudo img{
        width: 100%;
        margin-left: 100px;
        padding-bottom: 30px;
    }

    .tituloPalmares {
        float: right;
        font-weight: bold;
        font-size: 40px;
        margin-right: 390px; 
    }
    
    .tituloDatos {
        float: left;
        font-weight: bold;
        font-size: 40px;
        margin-left: 70px;
    }

    .bloque1, .bloque2 {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin: 30px;
    }
    
    .bloque1{
        float: left;
    }
    
    .bloque2{
        float: right;
    }

    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 120px;
    }

    .datos {
        width: 550px;
        height: 860px;
        border: 4px solid black;
        padding-bottom: 120px;
        margin-left: 150px;
        float: left;
    }
    
    .datos p{
        font-size: 30px;
        margin-top: 35px;
    }
    
    .datos p a{
        color: black;
    }

    .palmares{
        width: 550px;
        height: 860px;
        overflow: hidden;
        border: 4px solid black;
        margin-right: 150px;
        float: right
    }

    .historialTitulos {
        float: right;
        margin-right: 50px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    
    .item1 {
        position: relative;
        top: 25px;
    }
    
    .item2 {
        position: relative;
        top: 205px;
    }
    
    .item3 {
        position: relative;
        top: 300px;
    }
    
    .competicion{
        font-size: 35px;
    }
    
    .total{
        font-size: 50px;
    }

    .foto1{
        width: 98%;
    }

    .fotos{
        width: 95%;
    }

    .fotos img{
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }
    
    .foto1 img{
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media only screen and (min-width: 1400px) and (max-width: 1550px) {
    h1 {
        font-size: 35px;
    }

    .descripcion {
        width: 65%;
        font-size: 17px;
        border-radius: 40px;
        color: white;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        float: right;
        margin-top: 50px;
        margin-right: 80px;
    }

    .escudo {
        width: 220px;
        float: left;
    }

    .escudo img{
        width: 100%;
        margin-left: 100px;
        padding-bottom: 25px;
    }

    .tituloPalmares {
        float: right;
        font-weight: bold;
        font-size: 35px;
        margin-right: 330px; 
    }
    
    .tituloDatos {
        float: left;
        font-weight: bold;
        font-size: 35px;
        margin-left: 70px;
    }

    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 120px;
    }

    .datos {
        width: 500px;
        height: 800px;
        border: 4px solid black;
        padding-bottom: 120px;
        margin-left: 150px;
        float: left;
    }
    
    .datos p{
        font-size: 25px;
        margin-top: 35px;
    }
    
    .datos p a{
        color: black;
    }

    .palmares{
        width: 500px;
        height: 800px;
        overflow: hidden;
        border: 4px solid black;
        margin-right: 150px;
        float: right
    }

    .historialTitulos {
        float: right;
        margin-right: 50px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }
    
    .item1 {
        position: relative;
        top: 25px;
    }
    
    .item2 {
        position: relative;
        top: 165px;
    }
    
    .item3 {
        position: relative;
        top: 240px;
    }
    
    .competicion{
        font-size: 25px;
    }
    
    .total{
        font-size: 45px;
    }

    .foto1{
        width: 90%;
    }

    .fotos{
        width: 95%;
    }

    .fotos img{
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }
    
    .foto1 img{
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media only screen and (min-width: 1250px) and (max-width: 1400px) {
    h1 {
        font-size: 30px;
    }

    .descripcion {
        width: 65%;
        font-size: 15px;
        border-radius: 40px;
        color: white;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        float: right;
        margin-top: 50px;
        margin-right: 80px;
    }

    .escudo {
        width: 200px;
        float: left;
    }

    .escudo img{
        width: 100%;
        margin-left: 100px;
        padding-bottom: 20px;
    }

    .tituloPalmares {
        float: right;
        font-weight: bold;
        font-size: 30px;
        margin-right: 300px; 
    }
    
    .tituloDatos {
        float: left;
        font-weight: bold;
        font-size: 30px;
        margin-left: 70px;
    }

    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 120px;
    }

    .datos {
        width: 400px;
        height: 750px;
        border: 4px solid black;
        padding-bottom: 120px;
        margin-left: 150px;
        float: left;
    }
    
    .datos p{
        font-size: 20px;
        margin-top: 35px;
    }
    
    .datos p a{
        color: black;
    }

    .palmares{
        width: 400px;
        height: 750px;
        overflow: hidden;
        border: 4px solid black;
        margin-right: 150px;
        float: right
    }

    .historialTitulos {
        float: right;
        margin-right: 50px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }
    
    .item1 {
        position: relative;
        top: 25px;
    }
    
    .item2 {
        position: relative;
        top: 165px;
    }
    
    .item3 {
        position: relative;
        top: 240px;
    }
    
    .competicion{
        font-size: 20px;
    }
    
    .total{
        font-size: 35px;
    }

    .foto1{
        width: 90%;
    }

    .fotos{
        width: 95%;
    }

    .fotos img{
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }
    
    .foto1 img{
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
    h1 {
        font-size: 50px;
    }

    .descripcion {
        width: 65%;
        font-size: 20px;
        border-radius: 40px;
        color: white;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        float: none;
        margin: 25px auto;

    }
    
    .escudo{
        width: 300px;
        float: none;
        margin: 0 auto;

    }

    .escudo img{
        width: 100%;
        margin-left: 100px;
        padding-bottom: 20px;
        float: none;
        margin: 0 auto;
    }

    .tituloPalmares {
        font-weight: bold;
        font-size: 40px;
        float: none;
        margin: 0 auto;
    }
    
    .tituloDatos {
        font-weight: bold;
        font-size: 40px;
        float: none;

        margin: 0 auto;
    }
    
    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 120px;
        display: block;
    }

    .bloque1, .bloque2 {
        width: 100%; 
        align-items: center;
        margin: 30px 0;
    }

    .datos {
        width: 650px;
        height: 750px;
        float: none;
        margin: 0 auto;
        border: 4px solid black;
        padding-bottom: 120px;
    }

    .datos p {
        font-size: 30px;
        margin-top: 35px;
    }

    .datos p a {
        color: black;
    }

    .palmares {
        width: 650px;
        height: 750px;
        float: none;
        margin: 0 auto;
        overflow: hidden;
        border: 4px solid black;
    }

    .historialTitulos {
        float: right;
        margin-right: 50px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }

    .item1 {
        position: relative;
        top: 25px;
    }

    .item2 {
        position: relative;
        top: 165px;
    }

    .item3 {
        position: relative;
        top: 240px;
    }

    .competicion {
        font-size: 35px;
    }

    .total {
        font-size: 50px;
    }

    .foto1 {
        width: 70%;
    }

    .fotos {
        width: 75%;
    }

    .fotos img {
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }

    .foto1 img {
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/*
@media only screen and (min-width: 600px) {
    h1 {
        text-align: center;
        font-size: 35px;
    }
    
    
    .descripcion{
        background: #2e5f82;
        width: 90%;
        font-size: 18px;
        border-radius: 25px;
        color: white;
        padding: 20px;
    
        float: none;
        margin: 20px auto;
    }
    
    .escudo{
        width: 200px;
        float: none;
        margin: 0 auto;
    }
    
    .escudo img{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    
    
    .tituloPalmares {
        float: none;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin: 0;
    }
    
    .tituloDatos {
        float: none;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin: 0;
    }
    
    .titulos {
        width: 100%;
        overflow: hidden; 
    }
    
    
    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 50px;
    }
    
    .datos {
        width: 90%;
        height: auto;
        border: 2px solid black;
        margin: 20px auto;
        float: none;
    }
    
    .datos p{
        font-size: 20px;
        margin-top: 15px;
    }
    
    .datos p a{
        color: black;
    }
    
    
    .palmares{
        width: 90%;
        height: auto;
        overflow: hidden;
        border: 2px solid black;
        margin: 20px auto;
        float: none;
    }
    
    .historialTitulos {
        float: none;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    
    .item1 {
        position: relative;
        top: 10px;
    }
    
    .item2 {
        position: relative;
        top: 50px;
    }
    
    .item3 {
        position: relative;
        top: 80px;
    }
    
    .competicion{
        font-size: 25px;
    }
    
    .total{
        font-size: 30px;
    }

    
    .fotos img{
        width: 80%;
        height: auto;
    }
    
    .foto1 img{
        width: 60%;
        height: auto;
        margin-left: 0;
        padding-top: 10px;
    }
    
}*/

/*@media only screen and (min-width: 768px){
    h1 {
        text-align: center;
        font-size: 40px;
    }
    
    
    .descripcion{
        background: #2e5f82;
        width: 80%;
        font-size: 20px;
        border-radius: 25px;
        color: white;
        padding: 25px;
    
        float: none;
        margin: 25px auto;
    }
    
    .escudo{
        width: 250px;
        float: none;
        margin: 0 auto;
    }
    
    .escudo img{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    
    .tituloPalmares {
        float: none;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        margin: 0;
    }
    
    .tituloDatos {
        float: none;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        margin: 0;
    }
    
    .titulos {
        width: 100%;
        overflow: hidden; 
    }
    
    
    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 60px;
    }
    
    .datos {
        width: 80%;
        height: auto;
        border: 2px solid black;
        margin: 25px auto;
        float: none;
    }
    
    .datos p{
        font-size: 22px;
        margin-top: 20px;
    }
    
    .datos p a{
        color: black;
    }
    
    
    .palmares{
        width: 80%;
        height: auto;
        overflow: hidden;
        border: 2px solid black;
        margin: 25px auto;
        float: none;
    }
    
    .historialTitulos {
        float: none;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    
    .item1 {
        position: relative;
        top: 10px;
    }
    
    .item2 {
        position: relative;
        top: 50px;
    }
    
    .item3 {
        position: relative;
        top: 80px;
    }
    
    .competicion{
        font-size: 28px;
    }
    
    .total{
        font-size: 32px;
    }
    
    
    .fotos img{
        width: 70%;
        height: auto;
    }
    
    .foto1 img{
        width: 50%;
        height: auto;
        margin-left: 0;
        padding-top: 10px;
    }
    
}
*/



