h1 {
    padding-bottom: 50px;
}

.Noticia {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 80px;
    align-items: center;
    background: #f5f5f5; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;  /* Le mete una animación a la transición */
}

.Noticia:hover {
    transform: translateY(-10px); /* Eleva la noticia */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Hace más fuerte la sombra */
}

.Portada {
    width: 350px;
    padding-left: 20px;
}

.Portada a img {
    width: 100%;
    border-radius: 25px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

/* Efecto hover en la imagen */
.Portada a img:hover {
    transform: scale(1.05); /* Hace que la imagen crezca un poco */
}

.Contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;  /* Esto es para distribuir el espacio de manera uniforme */
}

/* Estilo para los titulares de noticias */
.Contenido h2 {
    font-size: 35px;
    font-weight: bold;
    /*color: #2e5f82;*/
    transition: color 0.3s ease-in-out;
}

/* Efecto hover en el título */
.Contenido h2:hover {
   /* color: #f4a261; */
   color: #2e5f82
}

/* Subtítulo de la noticia */
.Subtitulo {
    font-size: 20px;
    width: 95%;
}

a{
    text-align: center;
     color: black;
     text-decoration: none;
 }



