h1 {
    padding-bottom: 50px;
}

p {
    font-size: 20px;
    
}

.Portada img {
    margin-left: 100px;
    width: 40%;
}


.arriba {
    float: right;
    width: 45%;
    margin-right: 100px;
    text-align: justify;
}

.abajo {
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 100px;
    padding-top: 10px;
    text-align: justify;
}
