h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
}



.Noticia {
    display: flex;  
    padding-bottom: 50px;
}

.Portada {
    flex-shrink: 0; 
    width: 450px;
    padding-left: 90px;  
}

.Portada img {
    width: 100%;  
}

.Contenido {
    padding-left: 20px;
    padding-right: 90px;
    margin-left: 20px;
}

.Contenido p{
    font-size: 20px;
}
