h2{
    text-align: center;
    font-size: 40px;
}

p{
    font-weight: bold;
}

/*     PRÓXIMO PARTIDO     */
#proximoPartido{
    background: #2e5f82;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 150px;
}

#equipoLocal img {
    position: relative; 
    left: -300px;
    top: -50px;
    width: 400px;
}

#equipoVisitante img {
    position: relative; 
    left: 325px;
    top: -580px;
    width: 400px;
    height: 350px;
}

.hora {
    font-size: 50px;    
    position: relative;
    top: -350px;
}


.fecha {
    font-size: 50px;    
    position: relative;
}

.lugar {
    position: relative;
    bottom: 600px; 
    font-size: 50px;
}

/*     CLASIFICACIÓN     */
#seccion2 {
    margin-bottom: 150px; /* Ajusta el valor según la separación que desees */
}

#clasificacion{
    width: 50%;
}

table { /* Tabla */
    width: 70%;
    margin-left: 200px;
}

th { /* Celda */
    background: #2e5f82;
    color: white;
    padding: 10px;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 10px; 
}

.titulos {
    display: flex;
    justify-content: space-between; /* Espacio entre ambos títulos */
    align-items: center;           /* Alinea verticalmente */
    margin-bottom: 20px;           /* Opcional: separación inferior */
  }
  

.tituloClasificacion {
    width: 50%;

}

.tituloProximosPartidos{
    float: right;
    width: 50%;
}

/*     ÚLTIMOS RESULTADOS     */

#proximosPartidos {
    float:right;
    background: #2e5f82;
    color: white;
    border-radius: 50px;
    margin-right: 200px;
    width: 30%;
}

/* Ajuste del tamaño de las imágenes */
.imagenesPartidos img {
    height: 150px;
    width: auto;
    margin-left: 15px;
  }
  
  /* Distribución en tres columnas: equipo 1, resultado, equipo 2 */
  .partido {
    display: grid;
    grid-template-columns: 1fr auto 1fr;  /* Las columnas laterales se expanden igual */
    align-items: center;                  /* Centra verticalmente los elementos */
    gap: 10px;                            /* Espacio entre columnas */
    margin-bottom: 20px;                  /* Separación entre partidos (opcional) */
  }
  
  /* Opcional: Estilos para el resultado */
  .resultado {
    font-size: 2.5em;
    text-align: center;
    
  }

  /* ÚLTIMAS NOTICIAS */

.conjuntoImagenes {
    margin-bottom: 75px;
}

.imagenesNoticias img {
    width: 500px;
    border-radius: 50px;
}

  .noticia1 img{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
  }

  .noticia2 img{
    float:right;
    margin-right: 50px;
    margin-top: 50px;
    
  }

  .noticia3 img {
    /*display: block;
    margin: 0 auto;
    margin-top: 25px;*/
    position: relative;
    left: 180px;
    top: 50px;
  }

  .titulares{
    background: #2e5f82;
    font-weight: bold;
    font-size: 30px;
    color: white;
    border-radius: 50px;
    width: 500px;
    text-align: center;
  }

  .titular1{
    position: relative;
    left: 90px;
    top: -40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .titular2{
    position: relative;
    left: 770px;
    top: -130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .titular3{
    position: relative;
    left: 1690px;
    top: -210px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  




