@import "boton.css";

/*     PRÓXIMO PARTIDO     */

#proximoPartido{
    background: #2e5f82;
    color: white;
    text-align: center;
    margin: 0 auto;               /* PARA CENTRARLO */
    width: 60%;
    height: 600px; /*auto*/
    border-radius: 50px;          /*  BORDE CURVO   */
    padding: 20px;
    margin-bottom: 75px;
}

#equipoLocal img {
    position: relative; 
    right: 325px;
    top: -60px;
    width: 400px;
}

#equipoVisitante img {
    position: relative; 
    left: 325px;
    top: -525px;
    width: 400px;
    height: 350px;
}

.hora {
    font-size: 50px;    
    position: relative;
    bottom: 300px;
}


.fecha {
    font-size: 50px;    
    position: relative;
}

.lugar {
    position: relative;
    bottom: 550px; 
    font-size: 50px;
}

/*     CLASIFICACIÓN     */
#clasificacion{
    width: 50%;
}

table { /* Tabla */
    width: 70%;
    margin-left: 200px;
}

td { /* Celda */
    background: #2e5f82;
    color: white;
    padding: 10px;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 10px; 
}

.titulos {
    display: flex;
    justify-content: space-between; /* Espacio entre ambos títulos */
  }
  

.tituloClasificacion {
    width: 50%;

}

.tituloProximosPartidos{
    float: right;
    width: 50%;
}

/*     ÚLTIMOS RESULTADOS     */
#ultimosPartidos {
  float: right;
  background: #2e5f82;
  color: white;
  border-radius: 50px;
  padding: 20px;
  width: 30%;
  text-align: center;
  margin-right: 200px;
}

/* Estilo de cada partido */
.partido {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* Ajuste del tamaño de las imágenes */
.imagenesPartidos img {
  height: 125px;
  width: auto;
}

/* Estilos para el resultado */
.resultado {
  font-size: 2em;
}

/* ÚLTIMAS NOTICIAS  */
.noticias {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen-con-texto {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
}

.imagen-con-texto img {
    width: 500px;
    border-radius: 20px;
    display: block;
}

.titular {
    position: absolute;
    bottom: -20px;
    width: 100%;
    background: #2e5f82;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}





  
  
  
  




