body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #2e5f82;
    padding: 0px;
}

#icono_principal {
    height: auto;
}

#menu {
    display: grid;
    grid-template-rows: auto auto; 
    justify-content: left; 
    gap: 55px;
}

.contenido ul, .redes ul {
    list-style: none;
    gap: 20px;
    padding: 0;
    display: flex;

}

.contenido ul li, .redes ul li{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.contenido ul li a, .redes ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.contenido ul li ul, .redes ul li ul {
    position: relative;
    top: 100%;
    background: #2e5f82;
    list-style: none;
}

.redes {
    display: flex;
    gap: 10px;
    padding: 0;
}

.redes li{
    display: inline;
    gap: 10px;
}

.redes figure {
    margin: 0;
}

.perfil {
    display: inline;
}

footer {
    background: #2e5f82;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}


h2{
    text-align: center;
    font-size: 40px;
}



/*

DISEÑO ANTERIOR: DEJAR POR SI LAS MOSCAS
-Para que funcione, se requiere cambiar la posición del logo en el html

body {
    margin: 0px;
    padding: 0px;
}

#icono_principal {
    background: #2e5f82;
}


#menu {
    background: #2e5f82;
    float: right;
    padding: 40px;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

ul, li{
    display: inline;
}

figure{
    display: inline;
    margin-left: 1px;
}

header{
    background: #2e5f82;
    
}*/

