body {
    margin: 0px;
    padding: 0px;
}

#icono_principal {
    background: #2e5f82;
}


#menu {
    background: #2e5f82;
    float: right;
    padding: 40px;
    font-size: 30px;

}

ul, li{
    display: inline;
}

figure{
    display: inline;
    margin-left: 1px;
}

header{
    background: #2e5f82;
    
}




  

.perfil {
    display: inline;
}


h1{

}

h2{
    
}

p {

}