body {
    margin: 0px;
    padding: 0px;
}

#icono_principal {
    background: #2e5f82;
}


#menu {
    background: #2e5f82;
    float: right;
    padding: 40px;
    font-size: 30px;

}

ul, li{
    display: inline;
}

.redes figure{
    display: inline;
    margin-left: 1px;
}

header{
    background: #2e5f82;
    
}

.perfil {
    display: inline;
}

footer {
    background: #2e5f82;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
