@media only screen and (max-width: 1200px){

header {
    display: grid;
    grid-template-columns: 200px 1fr; /* Primera columna fija, segunda flexible */
    align-items: center;
    background-color: #2e5f82;
}
#icono_principal img {
    width: 100%; /* Ajusta al contenedor */
    min-width: 150px; /* Establece un tamaño mínimo */
    height: auto; /* Mantiene la proporción */
}

.logos {
    width: 25px;            
}

#menu {
    overflow: visible;
    overflow-x: auto; /* Activa el scroll horizontal */
    white-space: nowrap; /* Evita que los elementos se vayan a una nueva línea */
    max-width: 100%;
}

.dropdown_cabecera .btn {
    font-size: 20px;
}

.dropdown-item {
    font-size: 20px;
  }
  
.nav-links li a {
    font-size: 20px;
}

    
}


