@media only screen and (min-width: 480px) and (max-width: 1250px) {
    h1 {
        font-size: 50px;
    }

    .descripcion {
        width: 65%;
        font-size: 20px;
        border-radius: 40px;
        color: white;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        float: none;
        margin: 25px auto;

    }
    
    .escudo{
        width: 300px;
        float: none;
        margin: 0 auto;

    }

    .escudo img{
        width: 100%;
        margin-left: 100px;
        padding-bottom: 20px;
        float: none;
        margin: 0 auto;
    }

    .tituloPalmares {
        font-weight: bold;
        font-size: 40px;
        float: none;
        margin: 0 auto;
    }
    
    .tituloDatos {
        font-weight: bold;
        font-size: 40px;
        float: none;

        margin: 0 auto;
    }
    
    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 120px;
        display: block;
    }

    .bloque1, .bloque2 {
        width: 100%; 
        align-items: center;
        margin: 30px 0;
    }

    .datos {
        width: 650px;
        height: 750px;
        float: none;
        margin: 0 auto;
        border: 4px solid black;
        padding-bottom: 120px;
    }

    .datos p {
        font-size: 30px;
        margin-top: 35px;
    }

    .datos p a {
        color: black;
    }

    .palmares {
        width: 650px;
        height: 750px;
        float: none;
        margin: 0 auto;
        overflow: hidden;
        border: 4px solid black;
    }

    .historialTitulos {
        float: right;
        margin-right: 50px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }

    .item1 {
        position: relative;
        top: 25px;
    }

    .item2 {
        position: relative;
        top: 165px;
    }

    .item3 {
        position: relative;
        top: 240px;
    }

    .competicion {
        font-size: 35px;
    }

    .total {
        font-size: 50px;
    }

    .foto1 {
        width: 70%;
    }

    .fotos {
        width: 75%;
    }

    .fotos img {
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }

    .foto1 img {
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1250px) and (max-width: 1400px) {
    h1 {
        font-size: 30px;
    }

    .descripcion {
        width: 65%;
        font-size: 15px;
        border-radius: 40px;
        color: white;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        float: right;
        margin-top: 50px;
        margin-right: 80px;
    }

    .escudo {
        width: 200px;
        float: left;
    }

    .escudo img{
        width: 100%;
        margin-left: 100px;
        padding-bottom: 20px;
    }

    .tituloPalmares {
        float: right;
        font-weight: bold;
        font-size: 30px;
        margin-right: 300px; 
    }
    
    .tituloDatos {
        float: left;
        font-weight: bold;
        font-size: 30px;
        margin-left: 70px;
    }

    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 120px;
    }

    .datos {
        width: 400px;
        height: 750px;
        border: 4px solid black;
        padding-bottom: 120px;
        margin-left: 150px;
        float: left;
    }
    
    .datos p{
        font-size: 20px;
        margin-top: 35px;
    }
    
    .datos p a{
        color: black;
    }

    .palmares{
        width: 400px;
        height: 750px;
        overflow: hidden;
        border: 4px solid black;
        margin-right: 150px;
        float: right
    }

    .historialTitulos {
        float: right;
        margin-right: 50px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }
    
    .item1 {
        position: relative;
        top: 25px;
    }
    
    .item2 {
        position: relative;
        top: 165px;
    }
    
    .item3 {
        position: relative;
        top: 240px;
    }
    
    .competicion{
        font-size: 20px;
    }
    
    .total{
        font-size: 35px;
    }

    .foto1{
        width: 90%;
    }

    .fotos{
        width: 95%;
    }

    .fotos img{
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }
    
    .foto1 img{
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}


@media only screen and (min-width: 1400px) and (max-width: 1550px) {
    h1 {
        font-size: 35px;
    }

    .descripcion {
        font-size: 17px;
        border-radius: 40px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        margin-right: 80px;
    }

    .escudo {
        width: 220px;
    }

    .escudo img{
        padding-bottom: 25px;
    }

    .tituloPalmares {
        font-size: 35px;
        margin-right: 330px; 
    }
    
    .tituloDatos {
        font-size: 35px;
    }

    .datos {
        width: 500px;
        height: 800px;
    }
    
    .datos p{
        font-size: 25px;
    }

    .palmares{
        width: 500px;
        height: 800px;
    }

    .historialTitulos {
        margin-right: 50px;
        font-size: 10px;
        font-weight: bold;
    }
    
    .item2 {
        position: relative;
        top: 165px;
    }
    
    .item3 {
        position: relative;
        top: 240px;
    }
    
    .competicion{
        font-size: 25px;
    }
    
    .total{
        font-size: 45px;
    }

    .foto1{
        width: 90%;
    }

    .fotos{
        width: 95%;
    }

    .fotos img{
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }
    
    .foto1 img{
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}


@media only screen and (min-width: 1550px) and (max-width: 1750px) {
    h1 {
        font-size: 40px;
    }

    .descripcion {
        width: 65%;
        font-size: 20px;
        border-radius: 40px;
        color: white;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-right: 100px;
    }

    .escudo {
        width: 280px;
    }

    .escudo img{
        padding-bottom: 30px;
    }

    .tituloPalmares {
        font-size: 40px;
        margin-right: 390px; 
    }
    
    .tituloDatos {
        font-size: 40px;
    }

    .datos {
        width: 550px;
        height: 860px;
    }
    
    .datos p{
        font-size: 30px;
    }
    

    .palmares{
        width: 550px;
        height: 860px;
    }

    .historialTitulos {
        float: right;
        margin-right: 50px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    
    .item2 {
        position: relative;
        top: 205px;
    }
    
    .item3 {
        position: relative;
        top: 300px;
    }
    
    .competicion{
        font-size: 35px;
    }
    
    .total{
        font-size: 50px;
    }

    .foto1{
        width: 98%;
    }

    .fotos{
        width: 95%;
    }

    .fotos img{
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }
    
    .foto1 img{
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}
