@media only screen and (min-width: 480px) and (max-width: 1250px) {
    h1 {
        font-size: 50px;
    }

    .descripcion {
        font-size: 20px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        float: none;
        margin: 25px auto;

    }
    
    .escudo{
        width: 300px;
        float: none;
        margin: 0 auto;

    }

    .escudo img{
        width: 100%;
        margin-left: 100px;
        padding-bottom: 20px;
        float: none;
        margin: 0 auto;
    }

    .tituloPalmares {
        font-size: 40px;
        float: none;
        margin: 0 auto;
    }
    
    .tituloDatos {
        font-size: 40px;
    }
    
    .contenido{
        width: 100%;
        overflow: hidden;
        margin-bottom: 120px;
        display: block;
    }

    .bloque1, .bloque2 {
        width: 100%;
        align-items: center;
        margin: 0px auto;
    }

    .datos {
        width: 630px;
        height: 750px;
    }

    .datos p {
        font-size: 30px;
    }

    .palmares {
        width: 630px;
        height: 750px;
    }

    .historialTitulos {
        font-size: 10px;
    }

    .competicion {
        font-size: 35px;
    }

    .total {
        font-size: 50px;
    }

    .foto1 {
        width: 70%;
    }

    .fotos {
        width: 75%;
    }

    .fotos img {
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }

    .foto1 img {
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1250px) and (max-width: 1400px) {
    h1 {
        font-size: 30px;
    }

    .descripcion {
        font-size: 15px;
    }

    .escudo {
        width: 200px;
    }

    .escudo img{
        padding-bottom: 20px;
    }

    .tituloPalmares {
        font-size: 30px;
        margin-right: 300px; 
    }
    
    .tituloDatos {
        font-size: 30px;
    }


    .datos {
        width: 400px;
        height: 750px;
    }
    
    .datos p{
        font-size: 20px;
    }

    .palmares{
        width: 400px;
        height: 750px;
    }
    
    .competicion{
        font-size: 20px;
    }
    
    .total{
        font-size: 35px;
    }

}


@media only screen and (min-width: 1400px) and (max-width: 1550px) {
    h1 {
        font-size: 35px;
    }

    .descripcion {
        font-size: 17px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
        padding-bottom: 35px;

        margin-right: 80px;
    }

    .escudo {
        width: 220px;
    }

    .escudo img{
        padding-bottom: 25px;
    }

    .tituloPalmares {
        font-size: 35px;
        margin-right: 330px; 
    }
    
    .tituloDatos {
        font-size: 35px;
    }

    .datos {
        width: 500px;
        height: 800px;
    }
    
    .datos p{
        font-size: 25px;
    }

    .palmares{
        width: 500px;
        height: 800px;
    }

    .historialTitulos {
        font-size: 10px;
    }
    
    .item2 {
        position: relative;
        top: 165px;
    }
    
    .item3 {
        position: relative;
        top: 240px;
    }
    
    .competicion{
        font-size: 25px;
    }
    
    .total{
        font-size: 45px;
    }

    .foto1{
        width: 90%;
    }

}

@media only screen and (min-width: 1550px) and (max-width: 1750px) {
    h1 {
        font-size: 40px;
    }

    .descripcion {
        font-size: 20px;
        border-radius: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 40px;

        margin-right: 100px;
    }

    .escudo {
        width: 280px;
    }

    .escudo img{
        padding-bottom: 30px;
    }

    .tituloPalmares {
        font-size: 40px;
        margin-right: 390px; 
    }
    
    .tituloDatos {
        font-size: 40px;
    }

    .datos {
        width: 550px;
        height: 860px;
    }
    
    .datos p{
        font-size: 30px;
    }

    .palmares{
        width: 550px;
        height: 860px;
    }

    .historialTitulos {
        font-size: 15px;
    }
    
    .item1 {
        position: relative;
        top: 25px;
    }
    
    .item2 {
        position: relative;
        top: 205px;
    }
    
    .item3 {
        position: relative;
        top: 300px;
    }
    
    .competicion{
        font-size: 32px;
    }
    
    .total{
        font-size: 50px;
    }

    .foto1{
        width: 98%;
    }

    .fotos{
        width: 95%;
    }

    .fotos img{
        width: 40%;
        height: auto;
        padding-bottom: 20px;
    }
    
    .foto1 img{
        width: 30%;
        height: auto;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}